<html>
    <head>
        <title id="title">Snamellit Blog</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css"></link>
    </head>
    <body>
        <div id="header" class="column">
            <h1>Snamellit Blog</h1>
            <div id="action" class="action">
  	      <form id="loginform" method="POST" action="/login">
		Login:
		<input type="text" name="username" size="10"/>
		<input type="password" name="password" size="10"/>
		<input type="submit" value="Login"/>
	      </form>
            </div>
        </div>
        <div id="main" class="column">
            The base body, snore.
        </div>
        <div id="footer" class="column">
            The base footer, snore.
        </div>
    </body>
</html>
