<html>
    <head>
        <link rel="stylesheet" type="text/css" href="main.css"></link>
    </head>
    <body>
        <div id="edit-blog">
          <form id="edit-form" method="POST" class="column">
            <h2 id="edit-title">Blog Post Title</h2>
            <textarea id="edit-article" class="article">
              Some interesting stuff, interesting to me at least.
            </textarea>
          </form>
	  <div class="wmd-preview"></div>
	  <script type="text/javascript" src="js/wmd.js"></script>
        </div>
    </body>
</html>
