<html>
    <head>
        <link rel="stylesheet" type="text/css" href="main.css"></link>
    </head>
    <body>

        <div id="navs">
            <div id="nav1" class="nav column">
	      <ul class="content">
               <li>
                 <a href="/blog/test">
                    <span id="title" class="count">A Blog</span>
                  </a>
		</li>
                <li>
                  <a id="alink2" href="/blog/test2">
                    <span id="title" class="count">Another Blog</span>
                  </a>
		</li>
                <li>
                  <a id="alink3" href="/blog/yipiekaey">
                    <span id="title" class="count">Some Blog</span>
                  </a>
		</li>
	      </ul>
            </div>

            <div id="nav2" class="nav column">
	      <img src="/images/mugshot.jpg" />
	        <div>
                    I am a  father of 3 kids with too many interests.
                </div>
		<iframe src="http://stackoverflow.com/users/flair/350890.html?theme=clean" marginwidth="0" marginheight="0" 
        frameborder="0"  scrolling="no" width="210" height="60">
		</iframe>

	    </div>

            <div id="nav3" class="nav column">
                <div>
                    Some Widget X
                </div>
                <div>
                    Some Widget Y
                </div>
                <div>
                    Some Widget Z
                </div> 
            </div>
        </div>

	<div id="loggedin" class="action">
	  <span id="username">johndoe</span> logged in. 
	  <a id="edit"   href="/edit/test">Edit</a>
	  <a id="logout" href="/logout">Logout</a>
        </div>
    </body>
</html>
