<html>
    <head>
        <link rel="stylesheet" type="text/css" href="main.css"></link>
    </head>
    <body>

        <div id="navs">
            <div id="nav1" class="nav column">
	      <ul class="content">
               <li>
                 <a href="/blog/test">
                    <span id="title" class="count">A Blog</span>
                  </a>
		</li>
                <li>
                  <a id="alink2" href="/blog/test2">
                    <span id="title" class="count">Another Blog</span>
                  </a>
		</li>
                <li>
                  <a id="alink3" href="/blog/yipiekaey">
                    <span id="title" class="count">Some Blog</span>
                  </a>
		</li>
	      </ul>
            </div>

            <div id="nav2" class="nav column">
                <div>
                    Some Widget E
                </div>
                <div>
                    Some Widget F
                </div>
            </div>

            <div id="nav3" class="nav column">
                <div>
                    Some Widget X
                </div>
                <div>
                    Some Widget Y
                </div>
                <div>
                    Some Widget Z
                </div> 
            </div>
        </div>

    </body>
</html>
